# --- Dependency folders ---
node_modules/
dist/                # Output folder from tsc build
web-build/           # Expo web build output

# --- Expo specific ---
.expo/
.expo-shared/
expo-env.d.ts

# --- Native platform stuff ---
android/
ios/
*.xcworkspace
*.xcodeproj
*.xcuserstate
*.idea/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore

# --- Metro cache ---
.metro-cache/
.metro-health-check*

# --- Build artifacts & debug ---
*.tsbuildinfo
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# --- macOS & system files ---
.DS_Store
Thumbs.db
*.pem

# --- Editor-specific ---
.vscode/
.idea/

# --- Environment variables ---
.env
.env.*
.env*.local

# --- Typedoc output ---
docs/

# --- Misc ---
*.orig.*
*.swp
*.swo
